@use './app/shared/styles/variables.scss' as *;
@use './app/shared/styles/fonts.scss' as *;
@use './app/shared/styles/add-note-dialog.scss' as *;
@use './app/shared/styles/card.scss' as *;
@use './app/shared/styles/stepper.scss' as *;
@use './app/shared/styles/datepicker.scss' as *;
@use './app/shared/styles/textarea.scss' as *;

body,
html {
  padding: 0;
  margin: 0;
  font-family: 'Orienta', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Orienta', sans-serif;
}

@import 'primeicons/primeicons.css';
