.container {
  width: 400px;
  height: 256px;
  font-size: 20px;
}

p-card {
  width: 100%;
  height: 100%;
}

.date {
  margin-block-start: 0;
  margin-block-end: 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }
}
