@use '../../styles/variables.scss' as *;

:host {
  display: inline-block;

  ::ng-deep p-button {
    --npn-button-border-radius: var(--npn-form-field-border-radius);
    --npn-button-rounded-border-radius: 2rem;
    --npn-button-gap: .5rem;
    --npn-button-padding-x: var(--npn-form-field-padding-x);
    --npn-button-padding-y: var(--npn-form-field-padding-y);
    --npn-button-icon-only-width: 2.5rem;
    --npn-button-raised-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    --npn-button-badge-size: 1rem;
    --npn-button-transition-duration: var(--npn-form-field-transition-duration);
    --npn-button-focus-ring-width: var(--npn-focus-ring-width);
    --npn-button-focus-ring-style: var(--npn-focus-ring-style);
    --npn-button-focus-ring-offset: var(--npn-focus-ring-offset);
    --npn-button-label-font-weight: 500;
    --npn-button-lg-font-size: var(--npn-form-field-lg-font-size);
    --npn-button-lg-padding-x: var(--npn-form-field-lg-padding-x);
    --npn-button-lg-padding-y: var(--npn-form-field-lg-padding-y);
    --npn-button-lg-icon-only-width: 3rem;
    --npn-button-sm-font-size: var(--npn-form-field-sm-font-size);
    --npn-button-sm-padding-x: var(--npn-form-field-sm-padding-x);
    --npn-button-sm-padding-y: var(--npn-form-field-sm-padding-y);
    --npn-button-sm-icon-only-width: 2rem;
    --npn-button-text-plain-hover-background: var(--npn-surface-50);
    --npn-button-text-plain-active-background: #{$npn-surface-100};
    --npn-button-text-plain-color: #{$npn-surface-700};
    --npn-button-text-contrast-hover-background: var(--npn-surface-50);
    --npn-button-text-contrast-active-background: #{$npn-surface-100};
    --npn-button-text-contrast-color: var(--npn-surface-950);
    --npn-button-text-danger-hover-background: var(--npn-red-50);
    --npn-button-text-danger-active-background: var(--npn-red-100);
    --npn-button-text-danger-color: var(--npn-red-500);
    --npn-button-text-help-hover-background: var(--npn-purple-50);
    --npn-button-text-help-active-background: var(--npn-purple-100);
    --npn-button-text-help-color: var(--npn-purple-500);
    --npn-button-text-warn-hover-background: var(--npn-orange-50);
    --npn-button-text-warn-active-background: var(--npn-orange-100);
    --npn-button-text-warn-color: var(--npn-orange-500);
    --npn-button-text-info-hover-background: var(--npn-sky-50);
    --npn-button-text-info-active-background: var(--npn-sky-100);
    --npn-button-text-info-color: var(--npn-sky-500);
    --npn-button-text-success-hover-background: var(--npn-green-50);
    --npn-button-text-success-active-background: var(--npn-green-100);
    --npn-button-text-success-color: var(--npn-green-500);
    --npn-button-text-secondary-hover-background: var(--npn-surface-50);
    --npn-button-text-secondary-active-background: #{$npn-surface-100};
    --npn-button-text-secondary-color: var(--npn-surface-500);
    --npn-button-text-primary-hover-background: #{$npn-primary-50};
    --npn-button-text-primary-active-background: var(--npn-primary-100);
    --npn-button-outlined-plain-hover-background: var(--npn-surface-50);
    --npn-button-outlined-plain-active-background: #{$npn-surface-100};
    --npn-button-outlined-plain-border-color: #{$npn-surface-200};
    --npn-button-outlined-plain-color: #{$npn-surface-700};
    --npn-button-outlined-contrast-hover-background: var(--npn-surface-50);
    --npn-button-outlined-contrast-active-background: #{$npn-surface-100};
    --npn-button-outlined-contrast-border-color: #{$npn-surface-700};
    --npn-button-outlined-contrast-color: var(--npn-surface-950);
    --npn-button-outlined-danger-hover-background: var(--npn-red-50);
    --npn-button-outlined-danger-active-background: var(--npn-red-100);
    --npn-button-outlined-danger-border-color: var(--npn-red-200);
    --npn-button-outlined-danger-color: var(--npn-red-500);
    --npn-button-outlined-help-hover-background: var(--npn-purple-50);
    --npn-button-outlined-help-active-background: var(--npn-purple-100);
    --npn-button-outlined-help-border-color: var(--npn-purple-200);
    --npn-button-outlined-help-color: var(--npn-purple-500);
    --npn-button-outlined-warn-hover-background: var(--npn-orange-50);
    --npn-button-outlined-warn-active-background: var(--npn-orange-100);
    --npn-button-outlined-warn-border-color: var(--npn-orange-200);
    --npn-button-outlined-warn-color: var(--npn-orange-500);
    --npn-button-outlined-info-hover-background: var(--npn-sky-50);
    --npn-button-outlined-info-active-background: var(--npn-sky-100);
    --npn-button-outlined-info-border-color: var(--npn-sky-200);
    --npn-button-outlined-info-color: var(--npn-sky-500);
    --npn-button-outlined-success-hover-background: var(--npn-green-50);
    --npn-button-outlined-success-active-background: var(--npn-green-100);
    --npn-button-outlined-success-border-color: var(--npn-green-200);
    --npn-button-outlined-success-color: var(--npn-green-500);
    --npn-button-outlined-secondary-hover-background: var(--npn-surface-50);
    --npn-button-outlined-secondary-active-background: #{$npn-surface-100};
    --npn-button-outlined-secondary-border-color: #{$npn-surface-200};
    --npn-button-outlined-secondary-color: var(--npn-surface-500);
    --npn-button-outlined-primary-hover-background: #{$npn-primary-50};
    --npn-button-outlined-primary-active-background: var(--npn-primary-100);
    --npn-button-outlined-primary-border-color: var(--npn-primary-200);
    --npn-button-contrast-background: var(--npn-surface-950);
    --npn-button-contrast-hover-background: var(--npn-surface-900);
    --npn-button-contrast-active-background: #{$npn-surface-800};
    --npn-button-contrast-border-color: var(--npn-surface-950);
    --npn-button-contrast-hover-border-color: var(--npn-surface-900);
    --npn-button-contrast-active-border-color: #{$npn-surface-800};
    --npn-button-contrast-color: var(--npn-surface-0);
    --npn-button-contrast-hover-color: var(--npn-surface-0);
    --npn-button-contrast-active-color: var(--npn-surface-0);
    --npn-button-contrast-focus-ring-color: var(--npn-surface-950);
    --npn-button-contrast-focus-ring-shadow: none;
    --npn-button-danger-background: var(--npn-red-500);
    --npn-button-danger-hover-background: var(--npn-red-600);
    --npn-button-danger-active-background: var(--npn-red-700);
    --npn-button-danger-border-color: var(--npn-red-500);
    --npn-button-danger-hover-border-color: var(--npn-red-600);
    --npn-button-danger-active-border-color: var(--npn-red-700);
    --npn-button-danger-color: #ffffff;
    --npn-button-danger-hover-color: #ffffff;
    --npn-button-danger-active-color: #ffffff;
    --npn-button-danger-focus-ring-color: var(--npn-red-500);
    --npn-button-danger-focus-ring-shadow: none;
    --npn-button-help-background: var(--npn-purple-500);
    --npn-button-help-hover-background: var(--npn-purple-600);
    --npn-button-help-active-background: var(--npn-purple-700);
    --npn-button-help-border-color: var(--npn-purple-500);
    --npn-button-help-hover-border-color: var(--npn-purple-600);
    --npn-button-help-active-border-color: var(--npn-purple-700);
    --npn-button-help-color: #ffffff;
    --npn-button-help-hover-color: #ffffff;
    --npn-button-help-active-color: #ffffff;
    --npn-button-help-focus-ring-color: var(--npn-purple-500);
    --npn-button-help-focus-ring-shadow: none;
    --npn-button-warn-background: var(--npn-orange-500);
    --npn-button-warn-hover-background: var(--npn-orange-600);
    --npn-button-warn-active-background: var(--npn-orange-700);
    --npn-button-warn-border-color: var(--npn-orange-500);
    --npn-button-warn-hover-border-color: var(--npn-orange-600);
    --npn-button-warn-active-border-color: var(--npn-orange-700);
    --npn-button-warn-color: #ffffff;
    --npn-button-warn-hover-color: #ffffff;
    --npn-button-warn-active-color: #ffffff;
    --npn-button-warn-focus-ring-color: var(--npn-orange-500);
    --npn-button-warn-focus-ring-shadow: none;
    --npn-button-success-background: var(--npn-green-500);
    --npn-button-success-hover-background: var(--npn-green-600);
    --npn-button-success-active-background: var(--npn-green-700);
    --npn-button-success-border-color: var(--npn-green-500);
    --npn-button-success-hover-border-color: var(--npn-green-600);
    --npn-button-success-active-border-color: var(--npn-green-700);
    --npn-button-success-color: #ffffff;
    --npn-button-success-hover-color: #ffffff;
    --npn-button-success-active-color: #ffffff;
    --npn-button-success-focus-ring-color: var(--npn-green-500);
    --npn-button-success-focus-ring-shadow: none;
    --npn-button-info-background: var(--npn-sky-500);
    --npn-button-info-hover-background: var(--npn-sky-600);
    --npn-button-info-active-background: var(--npn-sky-700);
    --npn-button-info-border-color: var(--npn-sky-500);
    --npn-button-info-hover-border-color: var(--npn-sky-600);
    --npn-button-info-active-border-color: var(--npn-sky-700);
    --npn-button-info-color: #ffffff;
    --npn-button-info-hover-color: #ffffff;
    --npn-button-info-active-color: #ffffff;
    --npn-button-info-focus-ring-color: var(--npn-sky-500);
    --npn-button-info-focus-ring-shadow: none;
    --npn-button-secondary-background: #{$npn-surface-100};
    --npn-button-secondary-hover-background: #{$npn-surface-200};
    --npn-button-secondary-active-background: #{$npn-surface-300};
    --npn-button-secondary-border-color: #{$npn-surface-100};
    --npn-button-secondary-hover-border-color: #{$npn-surface-200};
    --npn-button-secondary-active-border-color: #{$npn-surface-300};
    --npn-button-secondary-color: #{$npn-surface-600};
    --npn-button-secondary-hover-color: #{$npn-surface-700};
    --npn-button-secondary-active-color: #{$npn-surface-800};
    --npn-button-secondary-focus-ring-color: #{$npn-surface-600};
    --npn-button-secondary-focus-ring-shadow: none;
    --npn-button-primary-hover-background: #{$npn-primary-hover-color};
    --npn-button-primary-active-background: #{$npn-primary-active-color};
    --npn-button-primary-hover-border-color: #{$npn-primary-hover-color};
    --npn-button-primary-active-border-color: #{$npn-primary-active-color};
    --npn-button-primary-color: #{$npn-primary-contrast-color};
    --npn-button-primary-hover-color: #{$npn-primary-contrast-color};
    --npn-button-primary-active-color: #{$npn-primary-contrast-color};
    --npn-button-primary-focus-ring-shadow: none;
  }
}