p-datepicker,
textarea {
  margin-bottom: 16px;
}

textarea.invalid-input {
  border: 2px solid #ef4444 !important; // TODO?
}

p-radiobutton {
  margin-right: 6px;
}

.step {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  padding-top: 16px;
}

.radio-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

p-inputnumber {
  margin-left: 30px;
  max-width: 128px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &:has(p-button:only-child) {
    justify-content: flex-end;
  }
}