<p-dialog
  [header]="'DIALOGS.ADD_NOTE.ADD_NEW_NOTE' | translate"
  [modal]="true"
  [(visible)]="isVisible"
  class="add-note-dialog">
  <p-stepper [value]="1" class="basis-[50rem]">
    <p-step-list>
      <p-step [value]="1">{{ 'DIALOGS.ADD_NOTE.DATE' | translate }}</p-step>
      <p-step [value]="2">{{ 'DIALOGS.ADD_NOTE.CONTENT' | translate }}</p-step>
      <p-step [value]="3">{{
        'DIALOGS.ADD_NOTE.NOTIFICATION' | translate
      }}</p-step>
      <p-step [value]="4">{{ 'DIALOGS.ADD_NOTE.SUMMARY' | translate }}</p-step>
    </p-step-list>
    <p-step-panels>
      <p-step-panel [value]="1">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-col h-48">
            <div>
              <p-datepicker
                class="max-w-full"
                [(ngModel)]="date"
                [inline]="true"
                [showWeek]="true"
                fluid />
            </div>
          </div>
          <div class="flex pt-6 justify-end">
            <p-button
              label="Next"
              icon="pi pi-arrow-right"
              iconPos="right"
              (onClick)="activateCallback(2)" />
          </div>
        </ng-template>
      </p-step-panel>
      <p-step-panel [value]="2">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-col h-48">
            <div>
              <p-floatlabel variant="in">
                <textarea
                  pTextarea
                  id="content"
                  [(ngModel)]="noteContent"
                  class="textarea"
                  rows="5"
                  cols="30"
                  style="resize: none; width: 100%"
                  class="h-full max-w-full"></textarea>
                <label for="content">{{
                  'DIALOGS.ADD_NOTE.CONTENT' | translate
                }}</label>
              </p-floatlabel>
            </div>
          </div>
          <div class="flex pt-6 justify-between">
            <p-button
              label="Back"
              severity="secondary"
              icon="pi pi-arrow-left"
              (onClick)="activateCallback(1)" />
            <p-button
              label="Next"
              icon="pi pi-arrow-right"
              iconPos="right"
              (onClick)="activateCallback(3)" />
          </div>
        </ng-template>
      </p-step-panel>
      <p-step-panel [value]="3">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-col h-48">
            <div>
              <p-radiobutton
                inputId="sameDay"
                name="category"
                [value]="'sameDay'"
                [(ngModel)]="notificationSettings" />
              <label [for]="'sameDay'" class="ml-2">{{
                'DIALOGS.ADD_NOTE.NOTIFY_SAME_DAY' | translate
              }}</label>
              <p-radiobutton
                inputId="dayBefore"
                name="category"
                [value]="'dayBefore'"
                [(ngModel)]="notificationSettings" />
              <label [for]="'dayBefore'" class="ml-2">{{
                'DIALOGS.ADD_NOTE.NOTIFY_DAY_BEFORE' | translate
              }}</label>
              <p-radiobutton
                inputId="customDaysBefore"
                name="category"
                [value]="'customDaysBefore'"
                [(ngModel)]="notificationSettings" />
              <label [for]="'customDaysBefore'" class="ml-2">{{
                'DIALOGS.ADD_NOTE.NOTIFY_CUSTOM_DAYS_BEFORE' | translate
              }}</label>
              <p-inputnumber
                [disabled]="notificationSettings !== 'customDaysBefore'"
                [(ngModel)]="notificationDaysBefore"
                inputId="notification"
                fluid />
            </div>
          </div>
          <div class="flex pt-6 justify-start">
            <p-button
              label="Back"
              severity="secondary"
              icon="pi pi-arrow-left"
              (onClick)="activateCallback(2)" />
            <p-button
              label="Next"
              icon="pi pi-arrow-right"
              iconPos="right"
              (onClick)="activateCallback(4)" />
          </div>
        </ng-template>
      </p-step-panel>
      <p-step-panel [value]="4">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-col h-48">
            <div>
              <span>{{ date | date }}</span>
              <span>{{ noteContent }}</span>
              <span>{{ notificationDaysBefore }}</span>
            </div>
          </div>
          <div class="flex pt-6 justify-start">
            <p-button
              label="Back"
              severity="secondary"
              icon="pi pi-arrow-left"
              (onClick)="activateCallback(3)" />
            <p-button
              label="Save"
              icon="pi pi-check"
              iconPos="right"
              (onClick)="saveNote()" />
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-panels>
  </p-stepper>
</p-dialog>
