@use '../../styles/variables.scss' as *;

header {
  font-family: 'Orienta', sans-serif;
  padding: 0;
  margin: 0;

  h1 {
    font-weight: 500 !important;
    padding: 0;
    margin: 0;
    letter-spacing: 0.4px;
  }

  h1.xl {
    font-size: 32px !important;
  }

  h1.lg {
    font-size: 22px !important;
  }
}
