@use '../shared/styles/variables.scss' as *;

:host {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: none;
  padding: 8px 8px;
  border-bottom: 1px solid var(--npn-form-field-border-color);

  @media (prefers-color-scheme: light) {
    background-color: var(--npn-surface-50);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--npn-surface-900);
  }
}

.col {
  width: 33.333333%;
  display: flex;
  gap: 8px;
}

.flex-end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}
