@use './variables.scss' as *;

app-add-note-dialog {
  --p-dialog-content-padding: 0 var(--p-overlay-modal-padding) 1px
    var(--p-overlay-modal-padding);

  .p-dialog {
    background-color: $npn-surface-950 !important;
    border-radius: 0 !important;
    width: 620px !important;
    border: 1px solid $npn-primary-600 !important;
  }

  .p-dialog-title {
    font-family: 'Orienta', sans-serif;
    font-weight: 500 !important;
    letter-spacing: 0.4px;
    color: $npn-text-1 !important;
    font-size: 26px !important;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .p-dialog-content {
    overflow-y: hidden;
  }
}
