$npn-primary-100: hsl(30, 3%, 10%);
$npn-primary-200: hsl(30, 3%, 20%);
$npn-primary-300: hsl(30, 3%, 30%);
$npn-primary-400: hsl(30, 3%, 40%);
$npn-primary-500: hsl(30, 3%, 50%);
$npn-primary-600: hsl(30, 3%, 60%);
$npn-primary-700: hsl(30, 3%, 70%);
$npn-primary-800: hsl(30, 3%, 80%);
$npn-primary-900: hsl(30, 3%, 90%);
$npn-primary-950: hsl(30, 3%, 95%);
$npn-primary-970: hsl(30, 3%, 97%);

$npn-accent-100: hsl(30, 98%, 10%);
$npn-accent-200: hsl(30, 98%, 20%);
$npn-accent-300: hsl(30, 98%, 30%);
$npn-accent-400: hsl(30, 98%, 40%);
$npn-accent-500: hsl(30, 98%, 50%);
$npn-accent-600: hsl(30, 98%, 60%);
$npn-accent-700: hsl(30, 98%, 70%);
$npn-accent-800: hsl(30, 98%, 80%);
$npn-accent-900: hsl(30, 98%, 90%);
$npn-accent-950: hsl(30, 98%, 95%);
$npn-accent-970: hsl(30, 98%, 97%);
