<p-dialog
  [header]="title"
  [modal]="true"
  [visible]="isVisible"
  [styleClass]="styleClass"
  (visibleChange)="onVisibleChange($event)">
  <p-stepper
    class="basis-[50rem]"
    [value]="activeStep"
    [linear]="true"
    (valueChange)="onActiveStepChange($event)">
    <p-step-list>
      @for (step of steps; track step.value) {
        <p-step [value]="step.value">{{ step.label }}</p-step>
      }
    </p-step-list>
    <p-step-panels>
      @for (panel of stepPanels; track panel.stepValue) {
        <p-step-panel [value]="panel.stepValue">
          <ng-template #content>
            <app-step-panel [actions]="panel.stepActions">
              <ng-container [ngTemplateOutlet]="panel.template" />
            </app-step-panel>
          </ng-template>
        </p-step-panel>
      }
    </p-step-panels>
  </p-stepper>
</p-dialog>
