<p-dialog
  [header]="'DIALOGS.ADD_NOTE.ADD_NEW_NOTE' | translate"
  [modal]="true"
  [visible]="isVisible"
  (visibleChange)="onVisibleChange($event)"
  class="add-note-dialog">
  <ng-container [formGroup]="form">
    <p-stepper [(value)]="activeStep" [linear]="true" class="basis-[50rem]">
      <p-step-list>
        <p-step [value]="1">{{ 'DIALOGS.ADD_NOTE.DATE' | translate }}</p-step>
        <p-step [value]="2">{{
          'DIALOGS.ADD_NOTE.CONTENT' | translate
        }}</p-step>
        <p-step [value]="3">{{
          'DIALOGS.ADD_NOTE.REMINDERS' | translate
        }}</p-step>
        <p-step [value]="4">{{
          'DIALOGS.ADD_NOTE.SUMMARY' | translate
        }}</p-step>
      </p-step-list>
      <p-step-panels>
        <p-step-panel [value]="1">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="step">
              <div>
                <app-subheader>{{
                  'DIALOGS.ADD_NOTE.DATE_SUBHEADER' | translate
                }}</app-subheader>
                <p-datepicker
                  formControlName="date"
                  class="max-w-full"
                  [inline]="true"
                  [showWeek]="true"
                  fluid />
              </div>
              <div class="actions">
                <p-button
                  label="Next"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  (onClick)="activateCallback(2)" />
              </div>
            </div>
          </ng-template>
        </p-step-panel>
        <p-step-panel [value]="2">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="step">
              <div>
                <app-subheader>{{
                  'DIALOGS.ADD_NOTE.CONTENT_SUBHEADER' | translate
                }}</app-subheader>
                <p-floatlabel variant="in">
                  <textarea
                    pTextarea
                    id="content"
                    formControlName="content"
                    class="textarea"
                    rows="5"
                    cols="30"
                    style="resize: none; width: 100%"
                    class="h-full max-w-full"
                    [ngClass]="{
                      'invalid-input':
                        form.get('content')?.invalid &&
                        form.get('content')?.touched,
                    }"></textarea>
                  <label for="content">{{
                    'DIALOGS.ADD_NOTE.CONTENT' | translate
                  }}</label>
                </p-floatlabel>
              </div>
              <div class="actions">
                <p-button
                  label="Back"
                  severity="secondary"
                  icon="pi pi-arrow-left"
                  (onClick)="activateCallback(1)" />
                <p-button
                  label="Next"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  [disabled]="
                    !form.get('content')?.value ||
                    form.get('content')?.value.trim() === ''
                  "
                  (onClick)="
                    form.get('content')?.markAsTouched();
                    form.get('content')?.value &&
                    form.get('content')?.value.trim() !== ''
                      ? activateCallback(3)
                      : null
                  " />
              </div>
            </div>
          </ng-template>
        </p-step-panel>
        <p-step-panel [value]="3">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="step">
              <div>
                <app-subheader>{{
                  'DIALOGS.ADD_NOTE.REMINDERS_SUBHEADER' | translate
                }}</app-subheader>
                <div class="radio-buttons">
                  <div>
                    <p-radiobutton
                      formControlName="reminderMode"
                      inputId="sameDay"
                      name="category"
                      [value]="ReminderMode.SameDay" />
                    <label [for]="'sameDay'" class="ml-2">{{
                      'DIALOGS.ADD_NOTE.NOTIFY_SAME_DAY' | translate
                    }}</label>
                  </div>
                  <div>
                    <p-radiobutton
                      formControlName="reminderMode"
                      inputId="dayBefore"
                      name="category"
                      [value]="ReminderMode.DayBefore" />
                    <label [for]="'dayBefore'" class="ml-2">{{
                      'DIALOGS.ADD_NOTE.NOTIFY_DAY_BEFORE' | translate
                    }}</label>
                  </div>
                  <div>
                    <p-radiobutton
                      formControlName="reminderMode"
                      inputId="customDaysBefore"
                      name="category"
                      [value]="ReminderMode.MultipleDaysBefore" />
                    <label [for]="'customDaysBefore'" class="ml-2">{{
                      'DIALOGS.ADD_NOTE.NOTIFY_CUSTOM_DAYS_BEFORE' | translate
                    }}</label>
                  </div>
                  <p-inputnumber
                    [disabled]="
                      form.get('reminderMode')?.value !==
                      ReminderMode.MultipleDaysBefore
                    "
                    formControlName="reminderDaysBefore"
                    inputId="notification" />
                </div>
              </div>
              <div class="actions">
                <p-button
                  label="Back"
                  severity="secondary"
                  icon="pi pi-arrow-left"
                  (onClick)="activateCallback(2)" />
                <p-button
                  label="Next"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  (onClick)="activateCallback(4)" />
              </div>
            </div>
          </ng-template>
        </p-step-panel>
        <p-step-panel [value]="4">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="step">
              <div>
                <span>{{ form.value | json }}</span>
              </div>
              <div class="actions">
                <p-button
                  label="Back"
                  severity="secondary"
                  icon="pi pi-arrow-left"
                  (onClick)="activateCallback(3)" />
                <p-button
                  label="Save"
                  icon="pi pi-check"
                  iconPos="right"
                  (onClick)="saveNote()" />
              </div>
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-panels>
    </p-stepper>
  </ng-container>
</p-dialog>
