@use './variables.scss' as *;

app-add-note-dialog {
  .p-dialog {
    background-color: $npn-surface-95 !important;
    border-radius: 0 !important;
    width: 620px !important;
    border: 1px solid $npn-primary !important;
  }

  .p-dialog-title {
    color: $npn-text-1;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }
}
