@use './variables.scss' as *;

app-add-note-dialog {
  .p-dialog {
    background-color: $npn-surface-95 !important;
    border-radius: 0 !important;
    width: 600px !important;
    border: 1px solid $npn-primary !important;
  }

  .p-dialog-title {
    font-family: var(--header-font-family);
    display: flex;
    align-items: center;
    font-size: var(--dialog-header-font-size) !important;
    font-weight: var(--dialog-header-font-weight) !important;
    padding: 0;
    margin: 0;
  }
}
