@use './colors.scss' as *;

p-button {
  background-color: transparent;
  padding: 0;
  gap: 12px;

  button {
    border: none !important;
    border-radius: 0 !important;
    padding: 12px 18px !important;

    .p-button-label,
    .p-button-icon {
      font-weight: 500 !important;
      text-transform: uppercase !important;
      letter-spacing: 0.45px !important;
      font-size: 16px !important;
      line-height: 20px !important;
      color: white !important;
    }
  }
}

p-button {
  button:not(.accent) {
    background-color: $npn-primary !important;
  }

  button.p-button-secondary:not(.p-button-rounded) {
    box-sizing: border-box !important;
    background-color: transparent !important;
    border: 1px solid $npn-primary !important;

    span {
      color: $npn-primary !important;
    }
  }

  button.p-button-rounded {
    background-color: transparent !important;
    border-radius: 50% !important;
  }
}

p-button.accent {
  button {
    background-color: $npn-accent !important;
  }
}
