@use './variables.scss' as *;
@use './variables.scss' as *;

.p-card {
  border-radius: 0 !important;
  border: 1px $npn-border solid;
  box-shadow: $npn-box-shadow;
  background-color: $npn-surface-97 !important;

  .p-card-body,
  .p-card-content {
    height: 100%;
    display: flex;
    background-color: transparent !important;
  }

  .p-card-content {
    flex-direction: column;
  }
}
