$npn-surface-97: #faf7f4;
$npn-surface-95: #f7f2ed;
$npn-surface-90: #f0e6db;
$npn-surface-80: #e0ccb8;
$npn-surface-70: #d1b394;

$npn-border: #c6c2be;

$npn-text-1: #42403e;
$npn-text-2: #5c5957;

$npn-accent: #fda348;
$npn-primary: #272625;
