$npn-surface-95: #f7f2ed;
$npn-surface-90: #f0e6db;
$npn-surface-80: #e0ccb8;
$npn-surface-70: #d1b394;

$npn-border: #C6C2BE;

$npn-text-1: #565453;
$npn-text-2: #94918E;

$npn-accent: #FDA348;
$npn-primary: #565453;
