<div class="container">
  <app-header size="xl"
    >{{ 'PAGES.SEARCH.TITLE' | translate
    }}{{ ` "${(query | async)}"` }}</app-header
  >
  <div class="notes">
    @for (row of (notes | async) || []; track $index) {
      <div class="row">
        @for (note of row; track $index) {
          <app-note [note]="note" />
        }
      </div>
    } @empty {
      <span>
        @if (query | async) {
          {{ 'PAGES.SEARCH.NO_RESULTS' | translate }}
        }
      </span>
    }
  </div>
</div>
