@use '../shared/styles/variables.scss' as *;

:host {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $npn-surface-95;
  box-shadow: none;
  padding: 8px 8px;
  border-bottom: 1px solid $npn-border;
}

.col {
  width: 33.333333%;
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}
