<div class="container">
  <p-card>
    <div class="header">
      @if (note?.date) {
        <p class="date" [pTooltip]="'NOTE.DATE_TOOLTIP' | translate">
          {{ note!.date | date }}
        </p>
      }
      @if (showEditButton) {
        <div class="edit-button" [pTooltip]="'NOTE.EDIT_TOOLTIP' | translate">
          <app-button
            icon="pi pi-pencil"
            severity="secondary"
            [isRounded]="true"
            (clicked)="edit.emit(note)" />
        </div>
      }
    </div>
    <div class="content">
      <p>
        @if (note?.content) {
          {{ note!.content }}
        }
      </p>
    </div>
    <div class="footer">
      @if (note?.reminderDaysBefore) {
        <span [pTooltip]="'NOTE.BELL_TOOLTIP' | translate"
          ><i class="pi pi-bell"></i>{{ ` ${note!.reminderDaysBefore}` }}</span
        >
      }
    </div>
  </p-card>
</div>
