@use './app/shared/styles/colors.scss' as *;
@use './app/shared/styles/button.scss' as *;
@use './app/shared/styles/fonts.scss' as *;

:root {
  --p-card-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --p-stepper-steppanels-padding: 0 0 0 0 !important;
  --header-font-family: 'Orienta', sans-serif;
  --dialog-header-font-size: 26px;
  --dialog-header-font-weight: 500;
  --header-font-size: 22px;
  --header-font-weight: 500;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: 'Orienta', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Orienta', sans-serif;
}

app-note {
  .p-card-body,
  .p-card-content {
    height: 100%;
    display: flex;
  }

  .p-card-content {
    flex-direction: column;
  }
}

app-add-note-dialog {
  .p-dialog {
    background-color: $npn-surface-95 !important;
    border-radius: 0 !important;
    width: 600px !important;
    border: 1px solid $npn-primary !important;
  }
}

.p-dialog-title {
  font-family: var(--header-font-family);
  display: flex;
  align-items: center;
  font-size: var(--dialog-header-font-size) !important;
  font-weight: var(--dialog-header-font-weight) !important;
  padding: 0;
  margin: 0;
}

@import 'primeicons/primeicons.css';
