@use './colors.scss' as *;

@font-face {
  font-family: 'Orienta';
  src: url('./assets/fonts/Orienta/Orienta-Regular.ttf') format('truetype');
}

:root {
  --p-card-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --p-stepper-steppanels-padding: 0 0 0 0 !important;
  --header-font-family: 'Orienta', sans-serif;
  --dialog-header-font-size: 26px;
  --dialog-header-font-weight: 500;
  --header-font-size: 22px;
  --header-font-weight: 500;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: 'Orienta', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Orienta', sans-serif;
}

app-note {
  .p-card-body,
  .p-card-content {
    height: 100%;
    display: flex;
  }

  .p-card-content {
    flex-direction: column;
  }
}

app-add-note-dialog {
  .p-dialog {
    width: 600px !important;
  }
}

.p-dialog-title {
  font-family: var(--header-font-family);
  display: flex;
  align-items: center;
  font-size: var(--dialog-header-font-size) !important;
  font-weight: var(--dialog-header-font-weight) !important;
  padding: 0;
  margin: 0;
}

p-button {
  background-color: transparent;
  padding: 0;
  gap: 12px;

  button {
    border: none !important;
    border-radius: 0 !important;
    padding: 12px 18px !important;

    .p-button-label, .p-button-icon {
      font-weight: 500 !important;
      text-transform: uppercase !important;
      letter-spacing: 0.25px !important;
      font-size: 16px !important;
      line-height: 20px !important;
      color: white !important
    }
  }
}

p-button.accent {
  background-color: transparent;

  button {
    background-color: $npn-accent !important;
    border: none !important;
  }
}

@import 'primeicons/primeicons.css';
